// Grid container
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// Mixin for generating columns
@mixin columns($size: false) {
    $modifier: if($size, $size + '--', null);

    @for $i from 1 through ($cols-number - 1) {
        .flex__col--#{$modifier}#{$i}\/#{$cols-number} {
            $width: 100% * $i / $cols-number;
            $basis: calc(#{$width} - #{$col-margin});

            flex: 0 0 $basis;
        }

        @if simplify($i, $cols-number) {
            .flex__col--#{$modifier}#{simplify($i, $cols-number)} {
                @extend .flex__col--#{$modifier}#{$i}\/#{$cols-number};
            }
        }

        $i: $i + 1;
    }
}


// Base grid columns
@include columns();

.flex__col--1 {
    flex: 0 0 100%;
}

// Grid columns for different breapoints
@each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $size: nth($breakpoint, 2);

    @media only screen and (min-width: $size) {
        @include columns($name);

        .flex__col--#{$name}--1 {
            flex: 0 0 100%;
        }
    }
}
